<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h2>My devices</h2>
        <ul class="list-group">
        <app-device [deviceName]="deviceOne" [deviceState]="'off'"></app-device>
        <app-device [deviceName]="deviceTwo" [deviceState]="'off'"></app-device>
        <app-device [deviceName]="deviceThree" [deviceState]="'on'"></app-device>
      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onTurnOn()">Turn all on</button>
    </div>
  </div>
</div>
